<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="attendence" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Attendence</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Day <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Month <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Year <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Employee_Name <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Day</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Month</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Year</span>
                            {{product.price | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Employee_Name</span>
                            {{product.category}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAttendence(att)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="attendenceDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
                
                <!-- Day Selection -->
                <div class="field">
                    <label for="day">Day</label>
                    <select id="day" [(ngModel)]="attendence.day" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !attendence.day}">
                        <option value="" disabled selected>Select Day</option>
                        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !attendence.day">Day is required.</small>
                </div>
                
                <!-- Month Selection -->
                <div class="field">
                    <label for="month">Month</label>
                    <select id="month" [(ngModel)]="attendence.month" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !attendence.month}">
                        <option value="" disabled selected>Select Month</option>
                        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !attendence.month">Month is required.</small>
                </div>
                
                <!-- Year Selection -->
                <div class="field">
                    <label for="year">Year</label>
                    <select id="year" [(ngModel)]="attendence.year" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !attendence.year}">
                        <option value="" disabled selected>Select Year</option>
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !attendence.year">Year is required.</small>
                </div>
                <div class="field">
                    <label for="Employee_Name">Employee_Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="attendence.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !attendence.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !attendence.name">Name is required.</small>
                </div>
                
                <div class="field">
                    <label for="status">Status</label>
                    <textarea id="status" [(ngModel)]="attendence.status" rows="4" placeholder="Enter status or additional notes..." [ngClass]="{'ng-invalid ng-dirty' : submitted && !attendence.status}"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !attendence.status">Status is required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAttendence()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteattendenceDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="attendence">Are you sure you want to delete <b>{{attendence.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteattendenceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
