.transparent-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 7px; /* Optional for rounded edges */
    padding: 0.5rem 1rem; /* Adjust padding for size */
    font-size: 15px; /* Adjust font size */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .transparent-button:hover {
    background-color:green; /* Light black background on hover */
    color:black; /* Retain black text */
  }
  
  .transparent-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 10px whitesmoke; /* Add custom focus effect */
  }
  
  .transparent-button .pi {
    margin-right: 0.9rem; /* Space between icon and label */
  }
  