<p-button label="Check" />
<input type="button" value="Save" />
<br><br><br>
<p-floatlabel>
  <p-autocomplete [(ngModel)]="value1" [suggestions]="items" (completeMethod)="search($event)" inputId="over_label" />
  <label for="over_label">Over Label</label>
</p-floatlabel>

<p-floatlabel variant="in">
  <p-autocomplete [(ngModel)]="value2" [suggestions]="items" (completeMethod)="search($event)" inputId="in_label" />
  <label for="in_label">In Label</label>
</p-floatlabel>

<p-floatlabel variant="on">
  <p-autocomplete [(ngModel)]="value3" [suggestions]="items" (completeMethod)="search($event)" inputId="on_label" />
  <label for="on_label">On Label</label>
</p-floatlabel>

<p-datepicker [(ngModel)]="date1" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" />
