<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['UserName','EmailId']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Employees users</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="UserName">UserName <p-sortIcon field="UserName"></p-sortIcon></th>
                        <th pSortableColumn="EmailId">Email ID <p-sortIcon field="EmailId"></p-sortIcon></th>
                        <th pSortableColumn="Password">password <p-sortIcon field="Password"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emp>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:20%; min-width:10rem;"><span class="p-column-title">UserName</span>
                            {{user.UserName}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Email ID</span>
                            {{user.EmailId}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Password</span>
                            {{user.Password}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editEmployee(emp)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '500px'}" header="userDetails" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">UserName</label>
                    <input type="text" pInputText id="name" [(ngModel)]="user.Name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !employee.Name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !employee.Name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="name">Email</label>
                    <input type="text" pInputText id="name" [(ngModel)]="user.EmailId" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.EmailId}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.EmailId">Email Address is
                        required.</small>
                </div>
                <div class="field">
                    <label for="description">Password</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="employee.Address" required rows="3"
                        cols="20"></textarea>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                        (click)="saveEmployee()"></button>
                </ng-template>


                <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span *ngIf="employee">Are you sure you want to delete <b>{{employee.Name}}</b>?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                            (click)="deleteProductDialog = false"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                            (click)="confirmDelete()"></button>
                    </ng-template>
                </p-dialog>

                <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span>Are you sure you want to delete selected products?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                            (click)="deleteProductsDialog = false"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                            (click)="confirmDeleteSelected()"></button>
                    </ng-template>