<p>leave works!</p>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="leave" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['Name','Gender']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage leave</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon></th>
                        <th pSortableColumn="Leavetype">Leavetype <p-sortIcon field="Leavetype"></p-sortIcon></th>
                        <th pSortableColumn="Reason">Reason <p-sortIcon field="Reason"></p-sortIcon></th>
                        <th pSortableColumn="Fromdate">Fromdate<p-sortIcon field="Fromdate"></p-sortIcon></th>
                        <th pSortableColumn="Todate">Todate<p-sortIcon field="Todate"></p-sortIcon></th>
                        <th pSortableColumn="Status">Status<p-sortIcon field="Status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-leav>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="emp"></p-tableCheckbox>
                        </td>
                        <td style="width:20%; min-width:10rem;"><span class="p-column-title">Name</span>
                            {{leav.Name}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Leavetype</span>
                            {{leav.Leavetype}}
                        </td>
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Reason</span>
                            {{leav.Reason}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title"> Fromdate</span>
                            {{leav.Fromdate}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title"> Todate</span>
                            {{leav.Todate}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title"> Status</span>
                            {{leav.Status}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editLeave(leav)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteLeave(leav._id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="leaveDialog" [style]="{width: '500px'}" header="Leave Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      pInputText
                      id="name"
                      [(ngModel)]="leave.Name"
                      required
                      autofocus
                      [ngClass]="{
                        'ng-invalid ng-dirty error-border': submitted && !leave.Name,
                        'valid-border': leave.Name
                      }"
                      class="name-input"
                    />
                    <small
                      class="error-message"
                      *ngIf="submitted && !leave.Name"
                    >
                      Name is required.
                    </small>
                  </div>
                  
                <div class="field">
                    <label for="name">Leavetype</label>
                    <input type="text" pInputText id="name" [(ngModel)]="Leave.Leavetype" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Leave.Leavetype}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !Leave.Leavetype"> Reason is required.</small>
                </div>
                <div class="field">
                    <label for="name">Reason</label>
                    <input type="text" pInputText id="name" [(ngModel)]="Reason.reason" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Reason.reason}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !Reason.reason"> Reason is required.</small>
                </div>
                <div class="field">
                    <label for="name">Fromdate</label>
                    <input type="date" pInputText id="name" [(ngModel)]="Leave.Fromdate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Leave.Fromdate}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !Leave.Fromdate">.Fromdate is required.</small>
                </div>
                <div class="field">
                    <label for="name">Todate</label>
                    <input type="date" pInputText id="name" [(ngModel)]="Leave.Todate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !Leave.Todate}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !Leave.Todate">.Todate is required.</small>
                </div>
                <div class="field">
                    <label for="name">Status</label>
                    <input type="text" pInputText id="name" [(ngModel)]="Leave.Status" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && !Leave.Status}" class="submit-button"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !Leave.Status">Status is required.</small>
                  </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveLeave()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="leave">Are you sure you want to delete <b>{{leave.Name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
